<ion-header>
  <ion-navbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="actionShowSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="showSearch == true">
    <ion-searchbar animated="true" [(ngModel)]="searchQuery" (ionInput)="getItems()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="showSearch == true" style="width: 100%;height: 50px"></div>
  <div class="main-cnt">
    <ion-list>
      <div *ngFor="let item of data">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col class="spec">Company</ion-col>
              <ion-col>{{item.company}}</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card (click)="view_department(item)">
          <ion-card-content>
            <ion-row>
              <ion-col class="spec">Parent Department</ion-col>
              <ion-col>{{item.parent}}</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card (click)="view_manager(item)">
          <ion-card-content>
            <ion-row>
              <ion-col class="spec">Manager</ion-col>
              <ion-col>{{item.manager}}</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-list-header>
        <h1>Employees ({{employeeArray.length}}/{{total}})</h1>
      </ion-list-header>
    </ion-list>
    <ion-list no-lines [virtualScroll]="employeeArray">
      <ion-item-sliding *virtualItem="let item; let i=index">
        <ion-item (click)="view(i)">
          <ion-avatar item-start>
            <ion-img class="image" [src]="item.imageUrl" style="height: 50px; width: 50px"></ion-img>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.email}}</p>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
